<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.karabow.screendecor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />
    
    <uses-feature 
        android:name="android.software.live_wallpaper"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name=".SetDecorActivity"
            android:label="@string/app_name">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name"
            android:exported="true">
        </activity>
            <!-- android:theme="@android:style/Theme.Light.WallpaperSettings" -->
        
        <service 
            android:name="com.karabow.screendecor.KarabowDreamService"
            android:exported="true"
            android:label="@string/screen_saver">
            
            <intent-filter>
                <action android:name="android.service.dreams.DreamService"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            
            <meta-data 
                android:name="android.service.dream"
                android:resource="@xml/dream"/>
        </service>
        
        <service 
            android:name="com.karabow.screendecor.KarabowWallpaperService"
            android:enabled="true"
            android:label="@string/wallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            
            <meta-data 
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper"/>
        </service>
        
        <receiver android:name="com.karabow.screendecor.PowerConnectionReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <!-- <receiver android:name="com.karabow.screendecor.BatteryLevelReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_BATTERY_LOW" />
                <action android:name="android.intent.action.ACTION_BATTERY_OKAY" />
            </intent-filter>
        </receiver>-->
    </application>

</manifest>
